<html>
    <head>
        <meta name="robots" content="noindex"/>
        <meta name="googlebot" content="noindex"/>
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
    </head>
    <body>
        <div class="container it-is-set">
            <head>
                <meta charset="utf-8"/>
                <title>Tim Berners-Lee</title>
                <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
            </head>
            <style></style>
            <!--***Split***-->
            <body id="c7496">
                <div id="iuqmi"></div>
                <center>
                    <h1 id="ibq3">World Wide Web:
	</h1>
                </center>
                <center id="iv81">
                    <h2 id="iu4u">
                        The Ever Growing Internet Kingdom
	  <br/>
                    </h2>
                    <a href="home" id="iki1v">
                        Home<br/>
                    </a>
                    <a href="THESIS" id="icawf">
                        Thesis<br/>
                    </a>
                    <a href="Tim_Berners_Lee" id="igz1l">
                        Tim Berners-Lee<br/>
                    </a>
                    <a href="Pre_WWW_1" id="ivl3l">
                        Pre WWW<br>
                    </a>
                    <a href="Creation_of_WWW_1" id="ih9mf">
                        Creation of WWW<br>
                    </a>
                    <a href="Short_Term_Impacts" id="i7z8r">
                        Short Term Impacts<br/>
                    </a>
                    <a href="Long_Term_Impacts" id="inmh9">
                        Long Term Impacts<br/>
                    </a>
                    <a href="Resources" id="isu4g">
                        Resources<br/>
                    </a>
                </center>
                <ol id="iw89">
                    <center></center>
                    <ol id="i1b3a">
                        <center id="im45">
                            <center>
                                <h3 id="idt0o"></h3>
                            </center>
                        </center>
                    </ol>
                </ol>
                <hr id="i6bt6"/>
                <center></center>
                <h1 id="iqx1g"></h1>
                <h2 id="imkn2"></h2>
                <div id="ir6xi"></div>
                <h2 id="il7z5">Tim Berners-Lee</h2>
                <h1 id="ikhcp">Background</h1>
                <hr id="i0byty"/>
                <section class="bdg-sect"></section>
                <div id="iaggs"></div>
                <div id="itor3" class="row">
                    <div id="ibdxl" class="cell">
                        <h2 id="iu9iv"></h2>
                        <div id="i5yq1"></div>
                        <h1 id="iuspm">​​​​​​Born on June 8, 1955 in London, Berners-Lee was always engaged with &nbsp;technology from his parents working at Ferranti, a British engineering company. With Ferranti, they created the Ferranti Mark I, the first commercial computer. After high school, he attended the prestigious University of Oxford.</h1>
                        <div id="ieva1"></div>
                        <div id="iy4hz"></div>
                        <div id="idr75"></div>
                        <div id="i2eqh"></div>
                        <hr id="ihnscr"/>
                        <h1 id="i2u7i">
                            <strong>
                                “While at CERN, Berners-Lee developed a program for himself, called Enquire, that could store information in files that contained connections (“links”) both within and among separate files—a technique that became known as <a data-cke-saved-href="https://www.britannica.com/technology/hypertext" href="https://www.britannica.com/technology/hypertext">hypertext</a>
                                ” (Britannica).
                            </strong>
                        </h1>
                        <div id="ilyp2">
                            <div id="iwkl9"></div>
                        </div>
                        <div id="iifoh">
                            <div id="i2wm4"></div>
                            <div id="is1k8"></div>
                        </div>
                        <div id="ild6w"></div>
                        <div id="ipusr">
                            <hr id="i7l109"/>
                            <h1 id="ix479">
                                "Band at CERN was who actually tried persuade ... and ... worked undercover to get various of us ... interested in internet working together"&nbsp;<br>-Tim Berners-Lee on how the creation of WWW started on Internet Hall of Fame
                            </h1>
                            <div id="i75ylg"></div>
                            <h1 id="idg8k">
                                <strong>After rejoining CERN he would finally start, and successfully finish the code for the World Wide Web (WWW) to be used by scientists and institutions. </strong>
                            </h1>
                        </div>
                    </div>
                    <div id="ir3dg" class="cell">
                        <div id="i32wz"></div>
                        <div id="iz4ah"></div>
                        <div id="i7y59"></div>
                        <div id="iva64">
                            <img src="../84733566/uploaded/Feranti_Mark_1.gif" id="ibznx"/>
                            <div id="izlui">
                                <p>Finished product of the Ferranti Mark I in 1915, which was Berners-Lee parents worked on (1)</p>
                                <p>.</p>
                            </div>
                        </div>
                        <div id="i3hdn">
                            <div id="i71ki1"></div>
                            <img src="../84733566/uploaded/HyperText.jpg" id="i8zrh"/>
                            <div id="i4yyo">
                                <p>Example of Hypertext, the technique that Berners-Lee created during his first years at CERN (2)</p>
                            </div>
                            <div id="i1vbc"></div>
                            <div id="iqcnvq">
                                <div id="iiqhlk"></div>
                                <img src="../84733566/uploaded/Lee_at_confrence.webp" id="ijle7s"/>
                                <div id="i95iq7">
                                    <p>Berners-Lee showcasing first launch of World Wide Web in 1991 at the Hypertext 1991 conference to various delegates (3).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="innpi" class="rowx"></div>
                <div id="izf12" class="rowx"></div>
                <div id="itb3f"></div>
                <a href="THESIS" id="i1itk">&lt;--- Thesis</a>
                <a href="Pre_WWW_1" id="iecah">Pre WWW ---&gt;</a>
                <hr id="iuj74k"/>
                <h1 id="i4cwub">
                    Footnotes:<br>
                    1. "Ferranti Mark" Chess Programming WIKI (CPW). Accessed February 8, 2023<br>
                    ​​​​​​​2.&nbsp;"Hypertext" Wikipedia. Accessed February 8, 2023<br>
                    ​​​​​​​3.&nbsp;Hern, Alex. "Tim Berners-Lee on 30 years of the world wide web: 'We can get the web we want'" The Guardian. Accessed February 8, 2023<br>
                    <br>
                </h1>
            </body>
            <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
            <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>
            <script src='https://kit.fontawesome.com/ee6940530e.js'></script>
            <script src='../../Assets/website.js?0.0.8419.28111'></script>
            <!--***Style Start***-->
            <link href='../Assets/basesite.css?0.0.8419.28111' rel='stylesheet'/>
            <style>
                @import url('https://fonts.googleapis.com/css2?family=Times New Roman&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Times&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Courier New&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Verdana&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Courier&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Arial Narrow&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Candara&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Calibri&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Cambria&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Garamond&display=swap'); @import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap'); body {
                    color: #000000;
                    font-family: 'Lucinda Sans Unicode';
                    background-color: #39a2db;
                }

                .container {
                    background-color: #ffffff;
                }

                .navbar .navbar-collapse {
                    justify-content: flex-start
                }

                .navbar-nav, .navbar, .dropdown-menu {
                    color: #39a2f2;
                    background-color: #ffffff;
                }

                .nav-item, .dropdown-item {
                    color: #39a2f2;
                    background-color: #ffffff;
                }
            </style>
            <style>
                hr {
                    border: 2px solid;
                }

                h3 {
                    font-size: 20px;
                }

                #iuqmi {
                    min-height: 28px;
                }

                #iw89 {
                    text-align: left;
                }

                #i6bt6 {
                    border: 2px solid #0056b3;
                }

                #ibq3 {
                    float: center;
                    font-family: Courier New, Courier, monospace;
                    font-weight: 700;
                    font-size: 45px;
                }

                #iqx1g {
                    float: center;
                }

                #imkn2 {
                    text-align: center;
                }

                #ir6xi {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }

                #iu4u {
                    font-family: Courier New, Courier, monospace;
                    font-weight: 700;
                    font-size: 40px;
                }

                #il7z5 {
                    text-align: center;
                    font-weight: 700;
                    font-family: Courier New, Courier, monospace;
                    font-size: 40px;
                    color: #0056b3;
                }

                #iki1v {
                    display: inline-block;
                    padding: .5em 1em;
                    min-height: 50px;
                    min-width: 50px;
                    background-color: #0056b3;
                    color: #eeeeee;
                }

                #icawf {
                    display: inline-block;
                    padding: .5em 1em;
                    min-height: 50px;
                    min-width: 50px;
                    background-color: #0056b3;
                    color: #eeeeee;
                    margin: 0 0 0 20px;
                }

                #igz1l {
                    display: inline-block;
                    padding: .5em 1em;
                    min-height: 50px;
                    min-width: 50px;
                    background-color: #0056b3;
                    color: #eeeeee;
                    margin: 0 0 0 20px;
                }

                #i7z8r {
                    display: inline-block;
                    padding: .5em 1em;
                    min-height: 50px;
                    min-width: 50px;
                    background-color: #0056b3;
                    color: #eeeeee;
                    margin: 0 0 0 20px;
                }

                #inmh9 {
                    display: inline-block;
                    padding: .5em 1em;
                    min-height: 50px;
                    min-width: 50px;
                    background-color: #0056b3;
                    color: #eeeeee;
                    margin: 0 0 0 20px;
                }

                #isu4g {
                    display: inline-block;
                    padding: .5em 1em;
                    min-height: 50px;
                    min-width: 50px;
                    background-color: #0056b3;
                    color: #eeeeee;
                    margin: 0 0 0 20px;
                }

                #iaggs {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }

                .row {
                    display: flex;
                    justify-content: flex-start;
                    align-items: stretch;
                    flex-wrap: nowrap;
                    padding: 10px;
                }

                .cell {
                    min-height: 75px;
                    flex-grow: 1;
                    flex-basis: 100%;
                }

                #i32wz {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }

                #iz4ah {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }

                #iva64 {
                    min-height: 28px;
                }

                #i1itk {
                    font-size: 25px;
                    line-height: 45px;
                    color: #000000;
                    border-radius: 10px 10px 10px 10px;
                    border: solid rgb(0, 86, 179);
                }

                #iecah {
                    float: right;
                    color: #000000;
                    font-size: 25px;
                    border-radius: 10px 10px 10px 10px;
                    border: solid #0056b3;
                }

                #ikhcp {
                    float: center;
                    text-align: center;
                    color: #0056b3;
                }

                #ibdxl {
                    flex-basis: 233.8%;
                }

                #innpi {
                    margin-bottom: 5px;
                }

                #ir3dg {
                    flex-basis: 93.6%;
                }

                #iuspm {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 40px;
                }

                #ix479 {
                    font-size: 20px;
                    line-height: 40px;
                }

                #itb3f {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }

                #izlui {
                    font-size: smaller;
                }

                #ibznx {
                    width: 266px;
                    height: 217px;
                }

                #i7y59 {
                    min-height: 28px;
                }

                #i2u7i {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 40px;
                }

                #itor3 {
                    font-weight: 300;
                }

                #idr75 {
                    min-height: 28px;
                }

                #iy4hz {
                    min-height: 28px;
                }

                #ieva1 {
                    min-height: 28px;
                }

                #i2eqh {
                    min-height: 28px;
                }

                #i3hdn {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }

                #i4yyo {
                    font-size: smaller;
                }

                #i8zrh {
                    width: 321px;
                    height: 211px;
                }

                #i5yq1 {
                    min-height: 28px;
                }

                #ilyp2 {
                    min-height: 28px;
                }

                #iifoh {
                    min-height: 28px;
                }

                #ild6w {
                    min-height: 28px;
                }

                #ipusr {
                    min-height: 28px;
                }

                #is1k8 {
                    min-height: 28px;
                }

                #i2wm4 {
                    min-height: 28px;
                }

                #iwkl9 {
                    min-height: 28px;
                }

                #izf12 {
                    margin-bottom: 5px;
                }

                #idg8k {
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 40px;
                }

                #i71ki1 {
                    min-height: 28px;
                }

                #i75ylg {
                    min-height: 28px;
                }

                #iuj74k {
                    color: #0056b3;
                }

                #i4cwub {
                    font-size: 15px;
                    line-height: 30px;
                }

                #ihnscr {
                    color: #0056b3;
                }

                #i7l109 {
                    color: #0056b3;
                }

                #i0byty {
                    color: #0056b3;
                }

                #iqcnvq {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                }

                #i95iq7 {
                    font-size: smaller;
                }

                #ijle7s {
                    width: 422px;
                    height: 253px;
                }

                #i1vbc {
                    min-height: 28px;
                }

                #iiqhlk {
                    min-height: 28px;
                }

                #ivl3l {
                    display: inline-block;
                    padding: .5em 1em;
                    min-height: 50px;
                    min-width: 50px;
                    background-color: #0056b3;
                    color: #eeeeee;
                    margin: 0 0 0 20px;
                }

                #ih9mf {
                    display: inline-block;
                    padding: .5em 1em;
                    min-height: 50px;
                    min-width: 50px;
                    background-color: #0056b3;
                    color: #eeeeee;
                    margin: 0 0 0 20px;
                }

                @media (max-width: 768px) {
                    .row {
                        flex-wrap:wrap;
                    }
                }
            </style>
        </div>
        <script>
            window.onload = () => {
                setTimeout( () => {
                    document.querySelectorAll('.gjs-lory-slides')?.forEach(x => {
                        x.style = `transition-timing-function: ease; transition-duration: 600ms; transform: translate3d(0,0,0);`;
                        console.log('fixed sliders');
                    }
                    , 0);
                }
                );
            }
            ;
        </script>
        <style>
            /* CUSTOM THEME CSS */
            /* CUSTOM THEME CSS END */
        </style>
    </body>
</html>
